doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        link(rel="stylesheet" href="/javascripts/jquery_ui/jquery-ui.css")
  
        script(src="/javascripts/jquery_ui/jquery-ui.js")
        //- script(src="/javascript/ui/1.11.4/jquery-ui.js")
        style
            #webcam_image { width: 150px; height: 150px; padding: 0.5em; }
            .ui-resizable-ghost { border: 1px dotted gray; }
            .ui-resizable-helper { border: 2px dotted #00F; }

        | <script src="/javascripts/index_script.js"></script>

    body
        h1.
            Feed Paisley

        table
            tr
                td(valign="top")
                    h3 Motor Control
                    p.
                        Control slider
                    input(id="speed_slider" type="range" min="-90" max="90" step="1" )
                    p.
                        Value
                    button(id="stop_button").
                        Stop Motor
                    input(id="speed_value_textbox" type="number")
                    br.
                    br.
                    //- p
                    //-     | Current distance: 
                    //-     span(id="current_distance_text")
                    p
                        | Number of users connected: 
                        span(id="num_connected_text")
                    div(id="device_radio_boxes")
                    p
                        | Current video device number: 
                        span(id="current_device_num")
                    br.
                    button(id="start_img_button").
                        Start streaming images
                    button(id="stop_img_button").
                        Stop streaming images
                    br.
                td(valign="top")
                    h3
                        | Image stream!
                    //- div(id="resizable" class="ui-widget-content")
                    image(id="webcam_image" class="ui-widget-content" width="320" height="240" src="/images/paisley.jpg")
                    p.
                        Status Face: green = all good<br>
                        yellow = not receiving images, but not expecting to either<br>
                        red = not recieving images or status message
                    image(id="status_img" width="160px" height="160px" src="/images/red.jpg")
                td(valign="top")
                    h3
                        | super chat!
                    p
                        | name: 
                    input(id="username_textbox")
                    p
                        | text
                    input(id="new_message_textbox")
                    button(id="submit_message").
                        submit
                    button(id="clear_chat_button").
                        clear
                    div(id="message_div")
